doctype html
html
  head
    title slider puzzle
    script(src='/index.js')
    link(rel='stylesheet', href='/index.css')
  body
    h2 CANVAS PUZZLE

    form
      div.form-group
        label
          | Login
        input
      div.form-group
        label
          | Password
        input(type='password')
      .slider-puzzle
